@import "../../../colors.scss";
@import "../../../common-ui.scss";
$height: 25px;
$margin: 3px;

.switch {
    position: relative;
    display: inline-block;
    width: ($height * 2) - ($margin *2);
    height: $height;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: $height - ($margin *2);
    width: $height - ($margin *2);
    left: $margin;
    bottom: $margin;
    background-color: $plate-ui-background;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $paleLime;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $paleLime;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 999px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }